

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
  /* Supprime le contour (outline) qui apparaît autour d'un élément lorsque celui-ci est sélectionné ou focusé. */
    font-family: 'Poppins', sans-serif;  
    scroll-behavior: smooth;
/* Rend les défilements (scrolling) fluides lorsqu'un utilisateur clique sur un lien d'ancrage (<a href="#section">)
le navigateur défile immédiatement vers la section ciblée sans transition. */ 
}
html {
    font-size: 62.5%;
    overflow-x: hidden; /* empêche le défilement (largeur fo9 lzm) horizontal. */
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:rgb(255, 250, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
        /* Cette propriété détermine l'ordre de superposition (ou profondeur) d'un élément.

    Un z-index élevé (ex. 100) signifie que cet élément sera affiché au-dessus des éléments avec un z-index plus bas. */

}

body {
    background: rgb(255, 250, 247) !important;
    color: #333 !important;
}

.navbar a{
    font-size: 1.7rem;
    color:rgb(0, 28, 84);
    margin-left: 2rem;
    margin-right: 1rem;
    transition: .3s;
    font-weight: bold;
    }
.navbar a:hover,.navbar a.active {
        background: linear-gradient(to right, #6b7280, #3b82f6); /* Gray to Blue gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
    }

section {
        min-height: 100vh;
        padding: 10rem 9% 2rem;
        margin-left: 50px;
      
    }
.home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.home_contenu h3{
        font-size: 3.2rem;
        font-weight: 700;
        margin-left: 50px;
        }
.home_contenu h3:nth-of-type(2){
            margin-bottom: 2rem;
        
        
        }
.home_contenu h1{
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.3;
            margin-left: 50px;
        
        }
.home_contenu p{
            font-size: 1.6rem;
            margin-left: 50px;
        
           
        }
.home-img img{
            width: 90vh;
            margin-left: 50px;
        
        }
.social_media a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: transparent;
            border: .2rem solid rgb(0, 28, 84) ;
            border-radius: 50%;
            font-size: 2rem;
            color: rgb(0, 28, 84) ;
            margin: 3rem 1.5rem 3rem 0;
            transition: .5s ease;
            z-index: 10;
        }
               
.social_media a:hover{
        background-color: rgb(0, 28, 84) ;
        color: rgb(255, 250, 247);
        box-sizing: 0 0 1rem  rgb(0, 28, 84) ;
        }
.btnAcceuil {
            display: inline-block;
            padding: 1rem 2.8rem;
            background: rgb(0, 28, 84);
            border-radius: 4rem;
            box-shadow: 0 0 1rem rgb(0, 28, 84);
            font-size: 1.6rem;
            color: rgb(255, 250, 247);
            letter-spacing: .1rem;
            font-weight: 600;
            transition: .5s ease;
            margin-left: 50px;
        }
.btnAcceuil:hover{
            box-shadow: none;
        }

/* sss */
h2{
  
        background: linear-gradient(to right, #6b7280, #3b82f6); /* Dégradé de couleur */
        -webkit-background-clip: text;  /* Nécessaire pour Safari */
        background-clip: text;  /* Applique le fond au texte */
        color: transparent; /* Rendre le texte transparent pour voir le fond */
    
}

:root {
    --bg-color: #f000;
    --second-bg-color:  rgb(255, 250, 247);
    --text-color: 
    --main-color: #324fd3;
}

.tech-container {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
    gap: 10px; /* Espacement entre les éléments */
  }
  
  .tech-title {
    font-size: 1.5rem; /* Taille du texte */
    font-weight: bold; /* Gras pour le titre */
  }
  
  .tech-icon img {
    width: 40px; 
    height: 40px;
  }
  
  .tech-icon i {
    width: 40px; 
    height: 40px;
  }  

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--bg-color);
    border: .2rem solid rgb(0, 28, 84);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 6;
    letter-spacing: .1rem;
    color: rgb(0, 28, 84);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: rgb(0, 28, 84);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: rgb(0, 28, 84);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 28, 84);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;   
}

span {
    color: black;
}



.about-img {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem auto; */
}

.about-img img {
   width: 100%;
   border-radius: 50%;
   border: .2rem solid var(--main-color); 
}


.iit-img img {
    height: auto; /* La hauteur de l'image sera ajustée automatiquement pour conserver les proportions */
    max-width: 600%; /* Si vous voulez que l'image dépasse légèrement de son conteneur */
    object-fit: cover; /* Cette propriété permet à l'image de couvrir tout l'espace sans déformer */
    margin-right: 240px;
}
.about-content img {
   text-align: center;
   max-width: 100%;
   height: auto;
   margin-left: 80px;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}



/*---------------------------------------------////education section---------------------------------------------------- */

.education {
    display: flex;
    /* Permet d'organiser facilement les enfants de .education dans une seule ligne ou colonne, */
    justify-content: center;
    align-items: center; /* centree verticalement */
    flex-direction: column;
    min-height: 5rem;
    padding-bottom: 5rem;
}

.education .education-row {
   display: flex;
   flex-wrap: wrap;
   /* Permet aux enfants de .education-row (par exemple, des colonnes ou des cartes) de passer à une nouvelle ligne si la largeur totale dépasse celle du conteneur
   gap: 5rem; */
   /* Définit un espacement uniforme de 5 rem entre les éléments enfants, aussi bien horizontalement que verticalement. */
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    /* L'élément sera traité comme un bloc tout en restant aligné avec les autres contenus inline. */
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid rgb(0, 28, 84);
    
}

.education-box .education-content {
    position: relative;
    /* Permet de positionner l'élément relativement à sa position normale. */
    padding-left: 2rem;
    
}
.education-box .education-content video {
    display: block;      /* Pour le centrer en utilisant margin */
    width: 70%;          
    height: auto;        /* Maintient le ratio d'aspect de la vidéo */
    margin: 20px  auto 0;      /* Centre horizontalement */
    z-index: 2;          /* Assure que la vidéo est au-dessus des autres éléments */
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: rgb(0, 28, 84);
    border-radius: 40%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid rgb(0, 28, 84);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
/* animation */
.education-content .content::before {
    content: '';
    position: absolute;
    /* Nécessite que le parent .content ait un position: relative; pour que le positionnement absolu soit relatif à ce parent. */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(213, 214, 216);
    z-index: -1;
    /* Positionne le pseudo-élément en arrière-plan, derrière le contenu visible de .content. */

    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color:  rgb(128, 142, 171);
    padding-bottom: .5rem;
    position: relative;
    z-index: 10;
    
}
.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
    color: rgb(9, 177, 177);
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}



/* ------------------------------------------------Project section---------------------------------------------------- */
.portfolio {
    min-height: auto;
    padding-bottom: 7rem;
    background-color: var(--bg-color);
}

.portfolio h2 {
    display: inline-block;
    left: 40%;
    transform: translateX(-40%);
    /* Les valeurs positives déplacent l'élément vers la droite.
Les valeurs négatives déplacent l'élément vers la gauche. */
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Utilise la fonction repeat pour définir automatiquement 3 colonnes identiques */
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgb(0, 28, 84));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    /* ease : Fonction de timing qui définit le rythme de l'animation */
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
    color:rgb(255, 250, 247);
}

.portfolio-layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
    color:rgb(255, 250, 247);

}

.portfolio-layer p span {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color:rgb(141, 137, 134);

}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background:rgb(255, 250, 247);
    
    border-radius: 40%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #333;
    
}




/*animation reloading*/
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.home-img {
    width: 40%;
}

.logo .animate,
.navbar .animate, 
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

.education .education-box .animate.scroll {
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s  * var(--i));
    width: 0;
}


/*keyframes animation*/
@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
       width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% { 
        transform: translate(-40%, -40%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}
/* animation congrats */


@keyframes confetti-slow {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
   }
    100% {
        transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
   }
}
@keyframes confetti-medium {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
   }
    100% {
        transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
   }
}
@keyframes confetti-fast {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
   }
    100% {
        transform: translate3d(-40px, 105vh, 0) rotateX(10deg) rotateY(240deg);
   }
}

.confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
}
.confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
}
/* Checkmark */
.checkmark-circle {
    width: 140px;
    height: 140px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}
.checkmark-circle .background {
    width: 140px;
    height: 140px;
    border-radius: 40%;
    background: #00c09d;
    position: absolute;
}
.checkmark-circle .checkmark {
    border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: '';
    left: 25px;
    top: 75px;
    position: absolute;
}
@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
   }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
}
@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
   }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
   }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
   }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
   }
}
.submit-btn, .recruter {
    height: 45px;
    width: 200px;
    font-size: 15px;
    background-color: var(--second-bg-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, .2);
    cursor: pointer;
    transition: all 2s ease-out;
    transition: all 0.2s ease-out;
}
.submit-btn:hover {
    background-color: #00c09d;
    transition: all 0.2s ease-out;
}
.congrats {
    display: none;
    text-align:center;
    margin-top:30px;
    position: fixed;
    left: 40%;
    top:40%;
    width: 100%;
    
    transform: translate(-40%,-40%);
    -webkit-transform: translate(-40%,-40%);
    -moz-transform: translate(-40%,-40%);
    -ms-transform: translate(-40%,-40%);
    -o-transform: translate(-40%,-40%);
    z-index: 100;
}

.dip {
    font-size: 2rem;
    color: var(--text-color);
    padding-bottom: .5rem;
    text-decoration: underline;
           
    }
    
    .gradient-text {
        font-size: 2rem;
        font-weight: bold; /* Rendre le texte en gras */
        background: linear-gradient(to right, #6B7280, #3B82F6); /* Dégradé de gris à bleu */
        -webkit-background-clip: text; /* Appliquer le dégradé au texte */
        color: transparent; /* Rendre la couleur de texte transparente pour que le dégradé soit visible */
    }
    table {
        width: 100%; /* Augmenter la largeur de la table */
        border-collapse: collapse;
        margin: 40px 0;
        font-size: 20px;
        text-align: left;
        line-height: 1.5;
    }
    
    
    
    table th, table td {
        border: 3px solid #ddd; /* Augmenter la largeur de la bordure */
        padding: 70px; /* Augmenter l'espacement interne des cellules */
    }
    
    table tr:nth-child(even) {
        background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
    }
    table td:first-child {
        width: 80%; /* Augmenter la largeur de la première colonne */
        padding: 70px; /* Ajuster l'espacement interne de la cellule */
    }
    
    table tr:hover {
        background-color: #f1f1f1; /* Couleur de fond pour les lignes au survol */
    }
    
    
    
            video {
                max-width: 90%;
                height: auto;
                margin-right: 300px;
    
            }
            img {
                max-width: 90%;
                height: auto;
            }    

/* section services */

.services {
    min-height: auto;
    padding-bottom: 10rem;
}
.container {
    min-height: auto;
    padding-bottom: 10rem;
}
.services h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #6b7280, #3b82f6); /* Gradient du gris (#6b7280) au bleu (#3b82f6) */
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    background-clip: text; /* Applique le dégradé au texte */
    color: transparent; /* Rend le texte transparent pour voir le dégradé */
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Les éléments s'organisent sur plusieurs lignes si nécessaire, s'ajustant dynamiquement pour s'adapter au conteneu */
    gap: 2rem;
    /* Définit un espacement uniforme de 2 rem entre les éléments enfants du conteneur Flexbox. */

}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
   background-color:  rgb(223, 220, 219);
}
/* aimation */
.services-container .services-box:hover {
    border-color: rgb(0, 28, 84);
    transform: scale(1.02);/* Agrandit l'élément de 2% au survol  102px (agrandissement de 2%).*/
    /* sacle: modifie un elt selon un echelle */
}

.services-box i {
    font-size: 5rem;
    color: rgb(0, 28, 84);
}

.services-box h3 {
    font-size: 2rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
}


.startBtn{
    width: 40%;
    height: 80px;
    background-color:rgb(0, 28, 84);
    border: 2px solid  #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 28, 84);
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    transition: .5s;     
}
.sBtn{
    width: 1000%;
    height: 45px;
    background-color:rgb(222, 219, 217);
    border: 2px solid  #fff;
    outline: none;
    border-radius: 6px;
    
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 28, 84);
    cursor: pointer;
    letter-spacing: 1px;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    transition: .5s;     
}
.sBtn:hover{
    background: rgb(164, 189, 240);

}
.button-container {
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 10px; /* Ajoute un petit espace entre les boutons */
    margin-top: 20px;
    margin-left:50px;
  }
  
  .ssBtn {
    padding: 10px 40px; /* Ajoute de l'espace intérieur */
    font-size: 13px;
    color: rgb(0, 28, 84);
    cursor: pointer; /* Change le curseur pour indiquer un bouton cliquable */
    border-radius: 6px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Effet au survol */
    background-color:rgb(222, 219, 217);
    border: 2px solid  #fff;
    font-weight: bold;
    margin-left: 60px;
  }
  
  .ssBtn:hover {
        background: rgb(164, 189, 240);

  }
  
.startBtn:hover{
    background: #565757;

    box-shadow: 0 0 25px #0ef;
}
.animated-image {
    display: block;
    margin: 0 auto; /* centrer horizontalement */
    margin-bottom: 20px; 
    animation: bounce 2s infinite ease-in-out; 
    /* La vitesse de l'animation commence lentement, accélère au milieu, puis ralentit vers la fin */
}
/* Définition de l'animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Position de départ */
    }
    50% {
        transform: translateY(-20px); /* Déplace vers le haut */
    }
}



.container {
  
    text-align: center;
    display: none;
}



.container .question {
    font-size: 26px;
    margin-top: 20px;
}

.container .choices {
    margin-top: 20px;
}

.choice {
    font-size: 20px;
    background-color: #eee;
    color: #000;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: 60%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50%);
    animation: fade-in 0.5s ease forwards;
}
h3 {
    font-size: 20px;
    color:rgb(0, 28, 84);
    font-weight: bold;
}
.choice:hover{
    background-color: #ddd;
}

.choice.selected{
    background-color: #112e42;
    color: #fff;
}

.btn{
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    background-color: #0ef;
    color: #fff;
    border: none;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn:hover{
    background: #112e42;

    box-shadow: 0 0 25px #0ef;
}

.scoreCard{
    font-size: 24px;
    margin-top: 20px;
}

.alert{
    background-color: #5d9b63;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    position: absolute;
    top: 0;
    display: none;
}


.timer{
    position: absolute;
    top: 100px;
    right: 55px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: rgb(164, 189, 240);
    border: 2px solid rgb(128, 120, 120);
    font-size: 24px;
    font-weight: 600;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s ease-in-out infinite;
 
}

/* Adding Animation to Timer */
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

/* Adding Animation to choices */
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



footer p, header p {
    font-size: 15px;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
}

@media screen and (max-width:900px){
    .container {
        width: 100%;
        margin-top: 50px;
    }
    .container h1{
        font-size: 24px;
    }
    .container .question{
        font-size: 22px;
    }

    .choice{
        width: 90%;
    }

    .question{
        font-size: .1rem;
    }
    .timer{
        width: 50px;
        height: 50px;
        font-size: 20px;
       
    }

}

/* Agrandir la taille du bouton radio */
.radio-input {
    width: 20px;  /* Taille du bouton radio */
    height: 20px; /* Hauteur du bouton radio */
    margin-right: 10px;  /* Espacement à droite du bouton radio pour séparer du texte */
    vertical-align: middle;  /* Aligner verticalement le bouton radio avec le texte */
}

/* Style des boutons */
.radio-btn {
    display: inline-flex;  /* Utilisation de flexbox pour aligner le bouton radio et le texte sur le même niveau */
    align-items: center;   /* Aligner verticalement le contenu au centre */
    padding: 10px 20px;  /* Ajuster l'espacement autour du texte */
    margin: 5px 0;  /* Réduire l'espacement entre les boutons */
    background-color:rgb(222, 219, 217);
    color:rgb(51, 51, 51);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;  /* Alignement du texte à gauche */
    font-size: 25px;  /* Taille du texte */
    width: 100%;  /* Boutons qui prennent toute la largeur disponible */
    max-width: 600px;  /* Limite la largeur des boutons */
    box-sizing: border-box;  /* Inclut le padding et les bordures dans la largeur totale */
}
.radio-btnn {
    display: flex;  /* Utilisation de flexbox pour aligner le bouton radio et le texte sur le même niveau */
    align-items: center;   /* Aligner verticalement le contenu au centre */
    padding: 10px ;  /* Ajuster l'espacement autour du texte */
    margin: 5px 0;  /* Réduire l'espacement entre les boutons */
    background-color:rgb(222, 219, 217);
    color:rgb(51, 51, 51);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;  /* Alignement du texte à gauche */
    font-size: 18px;  /* Taille du texte */
    width: 100%;  /* Boutons qui prennent toute la largeur disponible */
    max-width: 600px;  /* Limite la largeur des boutons */
    box-sizing: border-box;  /* Inclut le padding et les bordures dans la largeur totale */
    justify-content: space-between; /* Espacement entre le texte et le span (optionnel) */

}



/* Style au survol */
.radio-btn:hover {
    background-color:rgb(198, 194, 192);
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}


.progression {
    font-size: 1.3rem;
    font-weight: bold;
}

.navigation {
    display: flex;
    gap: 10px;
}

/* Cercle de pourcentage */
.pourcentage {
   margin-top: 70px;
   margin-left: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;

}


.cercle {
    position: relative;
}

.cercle {
    position: relative;
    width: 200px;
    height: 200px;
}

.progress-ring {
    transform: rotate(-90deg);
}

.progress-ring__circle {
    stroke: #ddd; /* Couleur du cercle restant */
    stroke-dasharray: 565.48; /* 2 * pi * rayon = 2 * pi * 90 */
    stroke-dashoffset: 0;
}

.progress-ring__circle-fg {
    stroke: rgb(164, 189, 240); /* Couleur du pourcentage de succès */
    stroke-dasharray: 565.48; /* La circonférence complète */
    stroke-dashoffset: 565.48; /* La circonférence complète au début */
    transition: stroke-dashoffset 1s ease; /* 1 seconde d'animation avec une transition fluide */
}

.score-text {
    position: absolute; /* Place le texte par-dessus le cercle */
    top: 70%; 
    left: 75%; 
    transform: translate(-50%, -50%); /* Compense l'origine du centrage */
    display: flex; /* Permet un alignement précis */
    align-items: center; /* Aligne verticalement */
    justify-content: center; /* Aligne horizontalement */
    font-size: 3rem;
    font-weight: bold; 
    color: rgb(50, 50, 50); 
  }
  
.score {
  
    font-size: 2em;
    font-weight: bold;
    margin-left: 90px;
    margin-bottom: 20px;
}
.correct {
    background-color: rgb(188, 235, 199);
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: default;
    max-width: 850px;
}
.answercomment {
    background-color: rgb(247, 151, 159);
    color: white;
    white-space: nowrap;

    font-size: 17px;
    margin-left:160px;
}
.answercommentc{
    background-color:rgb(139 240 162);
    color: white;
    white-space: nowrap;

    font-size: 17px;
    margin-left:270px;
}
.incorrect {
    background-color:rgb(252, 176, 182);
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: default;
    max-width: 850px;
}

.neutral {
    max-width: 850px;
    background-color: #e0e0e0; /* Gris clair pour le style initial */
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: default;
}

.reponse-item {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se répartir sur plusieurs lignes si nécessaire */
    max-width: 1000px; /* Limite la largeur du bloc */
    padding: 10px; /* Ajoute un espacement interne pour une meilleure lisibilité */
    
}

.reponse-item p {
    font-size: 21px; /* Taille du texte */
    line-height: 1.5; /* Espacement vertical entre les lignes */
    margin-bottom: 10px; /* Espacement entre chaque question */
    font-weight: bold; /* Texte en gras */
    padding-left: 0; /* Pas d'indentation supplémentaire */
    margin-left: 0; /* Pas de marge supplémentaire à gauche */
    margin-right: 20px; /* Espacement entre les éléments */
}


.contact-container {
    display: flex;
    max-width: 1400px;
    margin: 10px 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.contact-left, .contact-right {
    flex: 1;
    padding: 20px;
}

.contact-left {
    background-color: rgb(223,220,219);
    border-right: 2px solid #ddd;
    padding: 2rem; /* Équivalent de p-8 */
    border-radius: 8px; /* Équivalent de rounded-lg */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1); /* Équivalent de shadow-lg */
   width: 700px;
}
.contact-icons {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    gap: 10px; /* Ajoute un espace de 10px entre les icônes */
}

.contact-icons a {
    font-size: 20px;
    color: #555;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-icons a:hover {
    color: #007bff;
}


/* Agrandir le bloc du formulaire */
.bg-white {
    width: 70%; /* Augmenter la largeur (ou utiliser une valeur fixe comme 700px) */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 3rem; /* Ajouter plus d'espace interne */
}


input,textarea{
    background-color: #e2e5e5;
}
